.DD-form-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Added this to stack elements vertically */
  align-items: flex-start; /* Aligning items to the left */
  align-self: start;
  
  font-family: Arial, sans-serif;
  /* Centering the container on the page */
  
}

.DD-form-title {
  font-size: 24px;
  color: #431934;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.DD-form-subtitle {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 20px;
}

.DD-details-form {
  background-color: #ffffff;
  width: 100%;
  height: 100%;

  padding: 20px 15px;
  border:1px solid #431934;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.DD-form-row {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.DD-form-input {
  background-color: white;
  flex: 1;
  padding: 10px;
  margin: 10px 0; /* Adjusted margin to avoid shifting to the right */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.DD-form-button {
  background-color: #431934;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin: 10px 0; /* Added margin to keep consistency */
}

.DD-form-button:hover {
  background-color: #431934;
}

.DD-first {
  text-align: left;
  width: 100%;
}

.DD-last {
  text-align: left;
  width: 100%;
}
